/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* RESET END */
/* ----------------------------------------------------------- */
/* COMMON */
body {
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

.container {
    width: 65%;
    margin: auto;
}

h1{
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    padding: 35px;
    color: white;
    text-shadow: 2px 2px gray;
}

h3 {
    font-size: 24px;
    text-align: center;
    padding: 35px;
    color: darkblue;
}

.row-card {
    text-align: center;
}

.card {
    background-image: url(../img/pattern.png);
    background-size: contain;
    display: inline-block;
    height: 230px;
    width: 20%;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    margin: 5px;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

.card-text {
    display: none;
    font-size: 24px;
    color: orange;
    text-shadow: 2px 2px grey;
    position: absolute;
    width: 100%;
    left: 0;
}

/* COMMON END */
/* ----------------------------------------------------------- */
/* MAIN */

.card img {
    display: none;
}

.card .card-text {
    display: none;
}

.card:hover {
    background-image: none;
}

.card:hover div {
    display: block;
}

.card:hover img {
    display: block;
}

.container:nth-child(2) .row-card:nth-child(2) div {
    display: block;
}

.container img:nth-of-type(6) {
    display: block;
}
/* MAIN END */
